common --enable_bzlmod
common --announce_rc
common --ui_actions_shown 64

build --incompatible_strict_action_env
build --show_result=20
build --verbose_failures
build --incompatible_enable_cc_toolchain_resolution
build --experimental_platforms_api
test --test_output=errors
test:ci --test_output=all

build:docker --experimental_docker_verbose
build:docker --experimental_enable_docker_sandbox
build:docker --experimental_docker_use_customized_images
build:docker --strategy=CppCompile=docker --strategy=CppLink=docker --strategy=CcStrip=docker --strategy=MakeRpm=docker --strategy=MakeDeb=docker --strategy=PackageTar=docker
build:docker --experimental_docker_privileged

build:remote --bes_results_url=http://localhost:8080/invocation/
build:remote --bes_backend=grpc://localhost:1985
build:remote --remote_cache=grpc://localhost:1985
build:remote --remote_timeout=120
build:remote --remote_executor=grpc://localhost:1985

build:bb --build_metadata=ROLE=CI
build:bb --bes_results_url=https://app.buildbuddy.io/invocation/
build:bb --bes_backend=grpcs://remote.buildbuddy.io
build:bb --remote_cache=grpcs://remote.buildbuddy.io
build:bb --remote_executor=grpcs://remote.buildbuddy.io
build:bb --remote_upload_local_results
build:bb --jobs=100

build --toolchain_resolution_debug=@rules_python//python:toolchain_type

# Invalidate all outputs by setting a new value for the environment variable "FUDGE".
# e.g. export FUDGE="$(date)"
build --action_env=FUDGE
test --test_env=FUDGE