volumes:
  mysql:
  redis:
services:
  mysql:
    image: mariadb:latest
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: yes
      MYSQL_USER: buildbuddy
      MYSQL_PASSWORD: buildbuddy
      MYSQL_DATABASE: buildbuddy
    volumes:
      - mysql:/var/lib/mysql
    healthcheck:
      test: [CMD-SHELL, "mariadb -u$${MYSQL_USER?} -p$${MYSQL_PASSWORD?} $${MYSQL_DATABASE?}"]
      start_period: 15s
  redis:
    image: redis:latest
    volumes:
      - redis:/data
    healthcheck:
      test: [CMD, redis-cli, ping]
  app:
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    image: gcr.io/flame-public/buildbuddy-app-enterprise:latest
    environment:
      ENV: onprem
    ports:
      - 8080:8080
      - 1985:1985
    command:
      - "--app.build_buddy_url=http://localhost:8080"
      - "--app.events_api_url=grpc://localhost:1985"
      - "--app.cache_api_url=grpc://localhost:1985"
      - "--app.remote_execution_api_url=grpc://localhost:1985"
      - "--app.default_redis_target=redis:6379"
      - "--auth.enable_anonymous_usage=true"
      - "--auth.enable_self_auth=true"
      - "--cache.redis.redis_target=redis:6379"
      - "--cache.redis_target=redis:6379"
      - "--database.data_source=mysql://buildbuddy:buildbuddy@tcp(mysql)/buildbuddy"
      - "--remote_execution.enable_remote_exec=true"
      - "--storage.disk.root_directory=/var/cache/buildbuddy"
    volumes:
      - /var/cache/buildbuddy
  executor:
    depends_on:
      - app
    image: gcr.io/flame-public/buildbuddy-executor-enterprise:latest
    command:
      - "--app.build_buddy_url=http://app:8080"
      - "--app.cache_api_url=grpc://app:1985"
      - "--app.default_redis_target=redis:6379"
      - "--auth.enable_anonymous_usage=true"
      - "--auth.enable_self_auth=true"
      - "--database.data_source=mysql://buildbuddy:buildbuddy@tcp(mysql)/buildbuddy"
      - "--executor.app_target=grpc://app:1985"
      - "--executor.local_cache_size_bytes=5368709120"
      - "--executor.docker_socket=/var/run/docker.sock"
    volumes:
      - /buildbuddy
      - /var/run/docker.sock:/var/run/docker.sock
