name: Bazel CI

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - README.md

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: docker/setup-buildx-action@v2
    - uses: docker/bake-action@v3
      with:
        load: true
        set: |
          *.cache-from=type=gha
          *.cache-to=type=gha,mode=max
    - uses: actions/cache@v3
      with:
        path: ~/.cache/bazel.disk
        key: bazel
    - name: Bazel Build
      run: bazel build --disk_cache=~/.cache/bazel.disk hellos tars check-tars rpms debs
    - name: Bazel Test
      run: bazel test --disk_cache=~/.cache/bazel.disk --test_output=all hellos-test hello-test-suite
    - name: Bazel Shutdown
      run: bazel shutdown
