name: Bazel CI

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - README.md

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: docker/setup-buildx-action@v2
    - uses: docker/bake-action@v3
      with:
        load: true
        push: true
        set: |
          *.cache-from=type=gha
          *.cache-to=type=gha,mode=max
          centos-6.tags=ghcr.io/${{github.repository}}/centos:6
          centos-7.tags=ghcr.io/${{github.repository}}/centos:7
          debian-11.tags=ghcr.io/${{github.repository}}/debian:11
          debian-12.tags=ghcr.io/${{github.repository}}/debian:12
          fedora-37.tags=ghcr.io/${{github.repository}}/fedora:37
          fedora-38.tags=ghcr.io/${{github.repository}}/fedora:38
          rockylinux-8.tags=ghcr.io/${{github.repository}}/rockylinux:8
          rockylinux-9.tags=ghcr.io/${{github.repository}}/rockylinux:9
          ubuntu-kinetic.tags=ghcr.io/${{github.repository}}/ubuntu:kinetic
          ubuntu-lunar.tags=ghcr.io/${{github.repository}}/ubuntu:lunar
    - uses: actions/cache@v3
      with:
        path: ~/.cache/bazel.disk
        key: bazel
    - name: Bazel Build
      run: bazel build --disk_cache=~/.cache/bazel.disk //:hellos //:check-hellos //:tars //:check-tars //:rpms //:debs

