name: Bazel CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: ~/.cache/bazel
        key: bazel
    - name: Build executors
      run: ./images.sh
    - name: Bazel Build hellos
      run: bazel build //:hellos
    - name: Bazel Build check hellos
      run: bazel build //:check-hellos
    - name: Bazel Build tars
      run: bazel build //:tars
    - name: Bazel Build check tars
      run: bazel build //:check-tars

