name: Bazel CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: docker/setup-buildx-action@v2
    - uses: docker/build-push-action@v4
      with:
        context: executors/centos/6
        file: executors/centos/6/Containerfile
        tags: executors/centos:6
        cache-from: type=gha
        cache-to: type=gha,mode=max
    - uses: docker/build-push-action@v4
      with:
        context: executors/centos/7
        file: executors/centos/7/Containerfile
        tags: executors/centos:7
        cache-from: type=gha
        cache-to: type=gha,mode=max
    - uses: docker/build-push-action@v4
      with:
        context: executors/debian/11
        file: executors/debian/11/Containerfile
        tags: executors/debian:11
        cache-from: type=gha
        cache-to: type=gha,mode=max
    - uses: docker/build-push-action@v4
      with:
        context: executors/debian/12
        file: executors/debian/12/Containerfile
        tags: executors/debian:12
        cache-from: type=gha
        cache-to: type=gha,mode=max
    - uses: docker/build-push-action@v4
      with:
        context: executors/fedora/37
        file: executors/fedora/37/Containerfile
        tags: executors/fedora:37
        cache-from: type=gha
        cache-to: type=gha,mode=max
    - uses: docker/build-push-action@v4
      with:
        context: executors/fedora/38
        file: executors/fedora/38/Containerfile
        tags: executors/fedora:38
        cache-from: type=gha
        cache-to: type=gha,mode=max
    - uses: docker/build-push-action@v4
      with:
        context: executors/rockylinux/8
        file: executors/rockylinux/8/Containerfile
        tags: executors/rockylinux:8
        cache-from: type=gha
        cache-to: type=gha,mode=max
    - uses: docker/build-push-action@v4
      with:
        context: executors/rockylinux/9
        file: executors/rockylinux/9/Containerfile
        tags: executors/rockylinux:9
        cache-from: type=gha
        cache-to: type=gha,mode=max
    - uses: docker/build-push-action@v4
      with:
        context: executors/ubuntu/kinetic
        file: executors/ubuntu/kinetic/Containerfile
        tags: executors/ubuntu:kinetic
        cache-from: type=gha
        cache-to: type=gha,mode=max
    - uses: docker/build-push-action@v4
      with:
        context: executors/ubuntu/lunar
        file: executors/ubuntu/lunar/Containerfile
        tags: executors/ubuntu:lunar
        cache-from: type=gha
        cache-to: type=gha,mode=max
    - uses: actions/cache@v3
      with:
        path: ~/.cache/bazel
        key: bazel
    - name: Bazel Build
      run: bazel build //:hellos //:check-hellos //:tars //:check-tars //:rpms //:debs

